<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink='/'>Carousel</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0" >
                <ng-container *ngIf="_loginService.CurrentUser$| async">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink='/Member' routerLinkActive='active'>Member</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink='/List' routerLinkActive='active'>Lists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/Messeges" routerLinkActive='active'>Messeges</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" (click)="Logedout()">Logout</a>
                  </li>

                </ng-container>
                <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/Error" routerLinkActive='active'>Error</a>
                </li> -->
              </ul>

              <div class="dropdown"  *ngIf="(_loginService.CurrentUser$| async) as user" dropdown >  
                <!-- <img src="{{user.photoUrl}}" alt="{{user.userName}}"> -->
                <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.userName | titlecase}}</a>
                  <div class=" dropdown-menu mt-3" *dropdownMenu> 
                    <a  class="dropdown-item" routerLink="/Members/edit"> 
                      Edit Profile
                    </a>
                    <div class="div dropdown-divider"></div>

                  </div>   
               
                
              </div>
              <form  *ngIf="(_loginService.CurrentUser$| async)==null "   #loginForm="ngForm" class="d-flex" (ngSubmit)="Login()" autocomplete="off">
                <input name="UserName" [(ngModel)]="model.userName" class="form-control me-2" type="text" placeholder="User Name" >
                <input name="Password" [(ngModel)]="model.Password" class="form-control me-2" type="password" placeholder="Password" >
                <button class="btn btn-outline-success" type="submit">Login</button>
                
                
              </form>
            </div>
          </div>
    </div>
  </nav>

  <app-registration *ngIf="(_loginService.CurrentUser$| async)==null " ></app-registration>

  
